# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [4]:
# Solution 1

chipo.shape

(4622, 5)

In [5]:
# Solution 2

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [11]:
chipo['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Chips                                    211
Steak Bowl                               211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Chips and Tomatillo-Red Chili Salsa       20
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      7
Veggie Soft Tacos                          7
Carnitas Salad Bowl                        6
Veggie Salad                               6
Burrito                                    6
Steak Salad                                4
Salad                                      2
Bowl                                       2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [12]:
chipo.groupby('item_name').get_group('Chicken Bowl').sum()

order_id                                                         713926
quantity                                                            761
item_name             Chicken BowlChicken BowlChicken BowlChicken Bo...
choice_description    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...
item_price            $16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...
dtype: object

### Step 11. What was the most ordered item in the choice_description column?

In [15]:
chipo['choice_description'].value_counts()

[Diet Coke]                                                                                                                                                                                                  134
[Coke]                                                                                                                                                                                                       123
[Sprite]                                                                                                                                                                                                      77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                                                                                        42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                                                             40
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                                                                                                                                          36
[Lemonade]                                                                                                                                                                                                    33
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                                                                                                                                                 33
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                                                                                                                                                     29
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese]]                                                                                                                                                             28
[Fresh Tomato Salsa, [Rice, Cheese, Lettuce]]                                                                                                                                                                 26
[Coca Cola]                                                                                                                                                                                                   26
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Lettuce]]                                                                                                                                                    25
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]                                                                                                                                                              23
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole]]                                                                                                                                      22
[Fresh Tomato Salsa, [Fajita Vegetables, Rice]]                                                                                                                                                               22
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                                                                     21
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                                                                                                                         21
[Roasted Chili Corn Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                                                                                  21
[Tomatillo Red Chili Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                                                                                                                                              20
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                                          20
[Nestea]                                                                                                                                                                                                      20
[Tomatillo Red Chili Salsa, [Rice, Cheese, Lettuce]]                                                                                                                                                          20
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                                                       19
[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                                                                                                      19
[Dr. Pepper]                                                                                                                                                                                                  18
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                                                      17
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                                                                                 17
[Fresh Tomato Salsa, [Cheese, Lettuce]]                                                                                                                                                                       17
[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese]]                                                                                                                                                      17
                                                                                                                                                                                                            ...
[Tomatillo Green Chili Salsa, [Sour Cream, Cheese, Lettuce]]                                                                                                                                                   1
[Tomatillo-Green Chili Salsa (Medium), [Pinto Beans, Rice, Fajita Veggies, Lettuce]]                                                                                                                           1
[Tomatillo-Red Chili Salsa (Hot), [Fajita Veggies, Cheese, Sour Cream, Guacamole]]                                                                                                                             1
[Tomatillo Green Chili Salsa, [Rice, Pinto Beans, Black Beans, Sour Cream, Cheese, Lettuce]]                                                                                                                   1
[[Black Beans, Rice, Cheese]]                                                                                                                                                                                  1
[Tomatillo Red Chili Salsa, [Black Beans, Cheese, Lettuce, Guacamole]]                                                                                                                                         1
[Fresh Tomato Salsa (Mild), [Pinto Beans, Cheese]]                                                                                                                                                             1
[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Guacamole]]                                                                                                                                               1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Black Beans, Rice, Fajita Veggies, Sour Cream, Lettuce]]                                                                                     1
[Tomatillo Red Chili Salsa, [Black Beans, Cheese]]                                                                                                                                                             1
[Tomatillo Green Chili Salsa, [Rice, Black Beans, Cheese, Guacamole, Lettuce]]                                                                                                                                 1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium)], [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                               1
[Tomatillo Green Chili Salsa, [Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                                                           1
[Fresh Tomato Salsa (Mild), [Black Beans, Cheese, Lettuce]]                                                                                                                                                    1
[[Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Fajita Veggies, Guacamole, Lettuce]]                                          1
[Fresh Tomato Salsa (Mild), [Black Beans, Rice, Fajita Veggies, Guacamole, Lettuce]]                                                                                                                           1
[Fresh Tomato Salsa (Mild), [Fajita Veggies, Cheese, Sour Cream, Guacamole]]                                                                                                                                   1
[Roasted Chili Corn Salsa (Medium), [Fajita Veggies, Cheese, Lettuce, Sour Cream, Rice]]                                                                                                                       1
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Guacamole]]                                                                                                                                                    1
[Roasted Chili Corn Salsa, [Cheese, Guacamole, Lettuce]]                                                                                                                                                       1
[Tomatillo-Green Chili Salsa (Medium), [Fajita Veggies, Cheese, Guacamole, Lettuce]]                                                                                                                           1
[Tomatillo Red Chili (Hot), [Lettuce, Rice, Sour Cream, Cheese]]                                                                                                                                               1
[[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Rice, Black Beans, Fajita Veggies, Cheese, Sour Cream, Guacamole]]                                                                           1
[[Fresh Tomato Salsa (Mild), Tomatillo-Green Chili Salsa (Medium), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Rice, Fajita Veggies, Cheese, Sour Cream, Lettuce]]      1
[Tomatillo-Red Chili Salsa (Hot), [Rice, Fajita Veggies, Sour Cream, Lettuce]]                                                                                                                                 1
[Fresh Tomato Salsa, [Sour Cream, Guacamole]]                                                                                                                                                                  1
[Tomatillo Red Chili Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Lettuce]]                                                                                                                                  1
[Tomatillo-Red Chili Salsa (Hot), Lettuce]                                                                                                                                                                     1
[Roasted Chili Corn Salsa, [Cheese, Sour Cream, Guacamole]]                                                                                                                                                    1
[[Roasted Chili Corn Salsa (Medium), Fresh Tomato Salsa (Mild)], [Rice, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                                  1
Name: choice_description, Length: 1043, dtype: int64

### Step 12. How many items were orderd in total?

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [55]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [18]:
chipo['item_price'] = list(map(lambda x: float(x[1:]),chipo['item_price']))

In [62]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.6+ KB

In [41]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

#### Step 13.c. Check the item price type

### Step 14. How much was the revenue for the period in the dataset?

In [20]:
chipo.sum()

order_id                                                4285772
quantity                                                   4972
item_name     Chips and Fresh Tomato SalsaIzzeNantucket Nect...
item_price                                              34500.2
dtype: object

### Step 15. How many orders were made in the period?

In [24]:
chipo.nunique()

order_id              1834
quantity                 9
item_name               50
choice_description    1043
item_price              78
dtype: int64

### Step 16. What is the average amount per order?

In [26]:
# Solution 1
chipo.groupby('order_id').sum().mean()

quantity       2.711014
item_price    18.811429
dtype: float64

In [27]:
# Solution 2

chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 17. How many different items are sold?

In [31]:
chipo['item_name'].nunique()
import numpy as np

In [32]:
a = ['alpha', 'beta']
b = ['A', 'B', 'C']
c = ['foo', 'bar']
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=pd.MultiIndex.from_product(
                       [a, b], 
                       names=['greek', 'latin']),
                   columns=['C1', 'C2', 'C3', 'C4'])
df2 = pd.DataFrame(
    np.array([[1, 0, 1, 0], [1, 1, 1, 1], [0, 0, 0, 0], [0, 2, 0, 4]]),
    index=pd.MultiIndex.from_product([a, c], names=['greek', 'foobar']),
    columns=['C1', 'C2', 'C3', 'C4'])

df3 = pd.DataFrame(
    columns=['greek', 'latin', 'foobar', 'C1', 'C2', 'C3', 'C4'])

for i in df1.index.get_level_values('greek').unique():
    for j in df1.loc[i].index.get_level_values('latin').unique():
        for k in df2.loc[i].index.get_level_values('foobar').unique():
            df3 = df3.append(pd.Series([i, j, k], 
                                       index=['greek', 'latin', 'foobar']
                                       ).append(
                df1.loc[i, j] * df2.loc[i, k]), ignore_index=True)

df3.set_index(['greek', 'latin', 'foobar'], inplace=True)

In [33]:
df1

                   C1        C2        C3        C4
greek latin
alpha A     -0.636875  0.180388 -0.059574  0.856055
      B     -0.677241  0.492520  0.302594 -1.454515
      C      1.056135 -0.676781  1.338121 -1.347076
beta  A     -0.645476  0.497880  0.060903  0.305847
      B      0.967410 -0.558214 -1.555442  1.821821
      C     -0.332678  1.472411 -2.350979  0.260380

In [34]:
df2

              C1  C2  C3  C4
greek foobar
alpha foo      1   0   1   0
      bar      1   1   1   1
beta  foo      0   0   0   0
      bar      0   2   0   4

In [35]:
df3

                          C1        C2        C3        C4
greek latin foobar
alpha A     foo    -0.636875  0.000000 -0.059574  0.000000
            bar    -0.636875  0.180388 -0.059574  0.856055
      B     foo    -0.677241  0.000000  0.302594 -0.000000
            bar    -0.677241  0.492520  0.302594 -1.454515
      C     foo     1.056135 -0.000000  1.338121 -0.000000
            bar     1.056135 -0.676781  1.338121 -1.347076
beta  A     foo    -0.000000  0.000000  0.000000  0.000000
            bar    -0.000000  0.995760  0.000000  1.223387
      B     foo     0.000000 -0.000000 -0.000000  0.000000
            bar     0.000000 -1.116428 -0.000000  7.287283
      C     foo    -0.000000  0.000000 -0.000000  0.000000
            bar    -0.000000  2.944823 -0.000000  1.041520

In [36]:
dft = df2.swaplevel()
dft.sortlevel(level=0,inplace=True)
df5=pd.concat([df1*dft.loc[i,:] for i in dft.index.get_level_values('foobar').unique() ], keys=dft.index.get_level_values('foobar').unique().tolist(), names=['foobar'])
df5=df5.reorder_levels(['greek', 'latin', 'foobar'],axis=0)
df5.sortlevel(0,inplace=True)

C:\Users\rpatel124\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)

C:\Users\rpatel124\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """

In [41]:
dft.loc['foo',:]

       C1  C2  C3  C4
greek
alpha   1   0   1   0
beta    0   0   0   0

In [48]:
dft = df2.swaplevel()

In [52]:
dft.sort_index(level=0)

              C1  C2  C3  C4
foobar greek
bar    alpha   1   1   1   1
       beta    0   2   0   4
foo    alpha   1   0   1   0
       beta    0   0   0   0

In [65]:
dft1 = dft.unstack()
dft1

          C1         C2         C3         C4
greek  alpha beta alpha beta alpha beta alpha beta
foobar
bar        1    0     1    2     1    0     1    4
foo        1    0     0    0     1    0     0    0

In [66]:
dft2 = dft1.swaplevel(axis=1).stack()
dft2

greek      alpha  beta
foobar
bar    C1      1     0
       C2      1     2
       C3      1     0
       C4      1     4
foo    C1      1     0
       C2      0     0
       C3      1     0
       C4      0     0

In [69]:
dft2.drop(index=('foo','C4')).unstack()

greek  alpha                beta
          C1   C2   C3   C4   C1   C2   C3   C4
foobar
bar      1.0  1.0  1.0  1.0  0.0  2.0  0.0  4.0
foo      1.0  0.0  1.0  NaN  0.0  0.0  0.0  NaN